# Project exclude paths
/plot/
/target/
/testServer/
/.idea/
/artifacts/
/.run/
/JRTP-1.12.2-patch/target/
/JakesRTP-Core/target/
/JakesRTP-Core/build/
/JRTP-1-12-2-patch/build/
/moveJar.bat
/build-output-final/